
@import "tailwindcss";



*{
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: var(--Poppins-font);
}


:root{
  --prim-color: #ff823a;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #7e7e7e;
  --section-color: #edf1f0;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

html,body{
  overflow-x: hidden;
}

/* nav */

.nav-link::after,
.nav-link::before{
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--black-color);
  border-radius: 5px;
  transition: 0.3s;
}

.nav-link::after{
  top: 0;
  left: 0;
  width: 0;
}

.nav-link::before{
  bottom: 0;
  right: 0;
  width: 0;
}

.nav-link:hover::after,
.nav-link:hover::before{
  width: 100%;
}

.btn{
  background-color: var(--black-color);
  color: var(--white-color);
}
.btn:hover{
  margin-top: 70px;
}

/* hero */

.hero{
  margin-top: 70px;
}

.hero-wrap{
  height: 80vh;
  background-image: url(assets/Hero-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  animation: anim-zoomout var(--transition-regular) forwards linear;
}

.hero-wrap2{
  background-image: url(assets/Hero-2.png) !important;
}

.hero-content{
  width: 50%;
}

.hero-content h5{
  color: var(--black-color);
  opacity: 0;
  animation: anim-top 0.6s 1.2s forwards linear;
}

.hero-content h1{
  font-size: 4rem;
  font-weight: 600;
  opacity: 0;
  line-height: 4rem;
  animation: anim-top 0.6s 0.9s forwards linear;
}

.hero-content p{
  font-size: 1.2rem;
  width: 90%;
  color: var(--text-color);
  opacity: 0;
  animation: anim-top 0.6s 0.9s forwards linear;
}

.hero-btn{
  font-size: 1.5rem;
  width: 200px !important;
  opacity: 0;
  animation: anim-top 0.6s 0.3s forwards linear !important;
}

@keyframes anim-top {
    0%{
      transform: translateY(-500px);
      opacity: 0;
    }
    100%{
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes anim-zoomout {
    0%{
      transform: scale(1.3);
    }
    100%{
      transform: scale(1);
    }
}

@media screen and (max-width:1199px) {
    .hero-content h1{
      font-size: 3.3rem;
      line-height: 3rem;
    }
}
@media screen and (max-width:991px) {
    .hero-content{
      width: 60%;
    }
    .hero-content h1{
      font-size: 2.8rem;
    }
}
@media screen and (max-width:767px) {
    .hero-content{
      width: 90%;
    }
    .hero-content h1{
      font-size: 2.8rem;
    }
}


/* product */

.product-item{
  cursor: pointer;
}

.product-item:hover .product-icons .product-icon:nth-child(1){
  transform: translateY(0);
  transition-duration: 0.2s;
}
.product-item:hover .product-icons .product-icon:nth-child(2){
  transform: translateY(0);
  transition-duration: 0.5s;
}
.product-item:hover .product-icons .product-icon:nth-child(3){
  transform: translateY(0);
  transition-duration: 0.8s;
}

.product-image{
  width: 100%;
  cursor: pointer;
}

.product-image img:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition-slow);
}

.product-item:hover .product-image img:nth-child(2){
  opacity: 1;
}

.product-content{
  position: relative;
}

.product-content::after{
  content: 'View Product';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 3rem;
  font-weight: 600;
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 1px var(--black-color);
  background-clip: text;
  opacity: 0.15;
}

.fev-product-content::after{
  font-size: 2.5rem;
}
.product-content h3{
  font-size: 1rem;
  font-weight: 700;
}
.product-content span{
  font-size: 1.1rem;
  font-weight: bold;
}

.product-icons{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 2;
}

.product-icon{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 50%;
  transition: var(--transition-regular);
  transform: translateY(70px);
}

.product-icon:hover{
  background-color: var(--prim-color);
  color: var(--white-color);
}

.product-image .tag{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 700;
}

/* seen in */

.seen-in{
  background-color: var(--section-color);
  padding-top: 3%;
  padding-bottom: 3%;
}

@media screen and (max-width:575px) {
  .seen-in{
    padding-top: 5%;
    padding-bottom: 5%;
  }
}


/* favorite-beauty */

.favorite-beauty-banner{
  overflow: hidden;
  position: relative;
}

.favorite-beauty::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.favorite-beauty-banner img{
  transition: var(--transition-slow);
}
.favorite-beauty-banner:hover img{
  transform: scale(1.1);
}
.favorite-beauty-banner-title{
    position: absolute;
    bottom: 0;
    padding: 50px;
    color: var(--white-color);
}

@media screen and (max-width:575px) {
  .favorite-beauty-banner{
    height: 700px;
  }
}


.banner-section{
  height: 60vh;
  background-image: url(assets/section-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}


/* blog */

.blog-image {
  height: 250px;
}

.blog-image img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  transition: 0.4s ease;
}

.blog-image:hover img {
  transform: scale(1.1);
}

/* Badge in image */
.blog-badge {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 4px 16px;
  font-size: 0.85rem;
  font-weight: 600;
  color: black;
  border-radius: 4px;
}
